* {
	margin:0;
	padding:0;
	box-sizing:border-box; 
}

html {
	font-size:62.5%;
	font-family:'Open Sans', Verdana, sans-serif;
}

body {
	font-size:1.6em;
	background-color:$brokenWhite;
	&:before {
		content:'';
		width:81.2rem;
		height:47.9rem;
		position:absolute;
		left:50%;
		top:-15rem;
		background:url(img/background_header.png);
		transform:translateX(-50%);
		z-index:-1;
		opacity:0.2;
	}
}

a {
	color:inherit;
	text-decoration:none;
}

li {
	list-style:none; 
}

.wrap {
	max-width:1060px;
	margin:0 auto;
}