// Colors
$veryDarkGreen: #162826;
$darkGreen: #326847;
$mediumGreen: #2b8b5b;
$lightGreen: #769f62;
$veryLightGreen: #b5eba1;
$gray: #bfbfbf;
$brokenWhite: #fcfcfc;
$black: #000000;
$white: #ffffff;

// CSS Mixins
$boxShadowLight: 0 0 0.5rem 0 rgba(0,0,0,0.2);
