header {
	height:8rem;
	width:100%;
	background:$white;
	box-shadow:$boxShadowLight;
	position: fixed;
	
	.wrap {
		display:flex;
		padding:2rem;
		justify-content:space-between;
		height:100%;
		position: relative;
		z-index:1; 

		.header_left {
			display:flex;
			align-items:center;

			#logo {
				padding-right:2rem;
				a {
					display:block;
					line-height:0; 
				}
			}

			#search {
			}
		}

		.header_right {
			display:flex; 
			nav {
				ul {
					display:flex;
					height:100%; 
					li {
						padding:0 2.5rem;
						&:last-child {
							padding-right:4.5rem;
						}
						a {
							display: block;
							width:3rem; 
							height:3rem;
							position: relative;
							font-size:1.2rem;
							color:$darkGreen;
							background-size:auto;
							background-repeat:no-repeat;
							background-position:center center;
							background-color:transparent;

							&.picto_publication {background-image:url(img/picto_publication.png);}
							&.picto_amis {background-image:url(img/picto_amis.png);}
							&.picto_map {background-image:url(img/picto_map.png);}
							&.picto_notification {background-image:url(img/picto_notification.png);}

							.intitule {
								position: absolute;
								left:50%;
								transform:translateX(-50%);
								display:block;
								transition:0.3s ease;
								bottom:-1.5rem; 
							}

							&::before {
								content:'';
								width:5rem; 
								height:5rem; 
								background-color:$veryLightGreen;
								position:absolute;
								border-radius:50%;
								top:50%;
								left:50%;
								z-index:-1;
								transition:0.3s ease;
								transform:translate(-50%, -50%) scale(1.25);
								opacity:0;
							}

							&:hover::before {
								opacity:0.3;
								transform:translate(-50%, -50%) scale(1);
							}

							&:hover {
								.intitule {
								}
							}


						}
					}
				}
			}

			#profil {
				align-self:flex-end;
				a {
					display:block;
					line-height:0; 
				}
			}
		}
	}
}